/* KEYFRAMES */

@keyframes reactLogoSpin {
  to {
    transform: rotate(360deg);
  }
}

.containerIntroSite {
  display: flex;
  width: 100%;
  height: 90vh;
}

/* LEFT SIDE */

.introLeftSide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F4EDEA;
  width: 40vw;
}

.topLeftSide {
  width: 100%;
  display: flex;
  justify-content: end;
}

.topLeftSide a {
  margin-top: 1.5vw;
  margin-right: 2vw;
  font-size: clamp(1vw, 3.5vw, 3.5vw);
  font-weight: bold;
  text-decoration: none;
  color: #41393E;
}

/* RIGHT SIDE */

.topRightSide a {
  cursor: pointer;
}

.introRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #41393E;
  width: 60%;
}

.introRightSide ul {
  display: flex;
  justify-content: end;
  margin-right: 3vw;
  margin-top: 2vw;
}

.introRightSide ul a {
  font-size: 1.5vw;
  margin-right: 4vw;
  border-bottom: 0.2vw solid #E08E45;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

.imgProfile {
  position: relative;
  top: 15vw;
  left: 36vw;
  background: #F4EDEA;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.imgProfileInterior {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/profile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.introSiteIcons {
  height: 6vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.2vw;
}

.introSiteIcons img {
  -webkit-user-drag: none; /* Chrome, Safari */
  max-width: 100%;
  margin-left: 1vw;
}

.introSiteIcons .figmaIcon {
  width: 7vw;
}

.introSiteIcons .nodeIcon {
  padding-top: 0.4vw;
  width: 6vw;
}

.introSiteIcons .mysqlIcon {
  padding-bottom: 2.3vw;
  width: 7vw;
}

.introSiteIcons .reactIcon {
  width: 10vw;
  margin-left: -1vw;
}

/* TEXT AREA */

.introSiteText span {
  display: block;
}

.introSiteText {
  margin-left: 16vw;
  color: white;
  font-weight: bold;
}

.introSiteText .firstSpan {
  white-space: nowrap;
  font-size: 1.4vw;
}

.introSiteText .secondSpan {
  white-space: nowrap;
  font-size: 4vw;
  margin-left: 1.8vw;
  line-height: 80%;
}

.introSiteText .thirdSpan {
  display: flex;
  white-space: nowrap;
  margin-left: 6vw;
  font-size: 1.4vw;
}

.introSiteText .thirdSpan img {
  animation: reactLogoSpin 4s linear infinite;
  margin-left: 0.2vw;
  width: 2vw;
}

.introSiteText .forthSpan {
  line-height: 2vw;
  white-space: nowrap;
  color: #F4EDEA;
  font-size: 1.6vw;
  margin-left: 4vw;
}

.introSiteTextBtnContainer {
  display: flex;
  margin-top: 0.6vw;
}

.introSiteTextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 2.2vw;
  flex-direction: column;
  background-color: #F4EDEA;
  color: #41393E;
  margin-left: 1.8vw;
  padding: 1vw;
  border-radius: 1vw;
  font-size: 0.7vw;
}

.introSiteTextBtn span {
  color: #41393E;
  line-height: 1vw;
}

.myProjectsBtn {
  cursor: pointer;
}

/* Contact Icons */

.introSiteContact {
  display: flex;
  justify-content: end;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.introSiteContact img {
  width: 3vw;
  margin-right: 1vw;
}