.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #F4EDEA;
  width: 58vw;
  aspect-ratio: 1280 / 900;
}

.gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.gameTitleFirstSpan {
  font-size: 0.7vw;
  transform: rotate(-90deg);
}

.gameTitleSecondSpan {
  font-size: 3.4vw;
}

.gameTitle img {
  width: 4vw;
  margin-left: 0.4vw;
}

.gameTextContent {
  max-width: 60%;
  text-align: center;
}

.gameTextContent h2 {
  font-size: 2.6vw;
  font-weight: bold;
}

.gameTextContent p {
  font-size: 1.4vw;
  margin-top: 3vw;
}

.gameTextContent span {
  color: #169873;
}

.gameBottom {
  display: flex;
  flex-direction: column;
}

.gameBottom button {
  margin: auto;
  width: 14vw;
  margin-bottom: 4.5vw;
  font-size: 1vw;
}

.gameBottom p {
  color: #41393E;
  font-size: 1vw;
  margin-bottom: 0.2vw;
}