.projectPartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.projectPartInterior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 90%;
  background-color: #E08E45;
}

.topPart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4EDEA;
  font-weight: bold;
  font-size: 1.2vw;
  width: 19.8vw;
  height: 6vw;
  background-color: #41393E;
}

.gridProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
}

.cardTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw 2vw;
  margin: auto;
}

.projectBlock {
  box-sizing: border-box;
  position: relative;
  aspect-ratio: 2 / 2.5;
  height: 25vw;
  background: #41393E;
  border: 0.3vw solid #41393E;
  border-radius: 0.2vw;
  color: #F4EDEA;
  box-shadow: 0.2vw 0.3vw 0.2vw rgba(3, 3, 3, 0.356);
}

.unavailableProject {
  position: absolute;
  transform: rotate(30deg);
  right: -2vw;
  top: -1vw;
  cursor: default;
  background: #72C14C;
  padding: 1vw;
}

.projectBlock img {
  width: 100%;
  border-radius: 0.1vw 0.1vw 0px 0px;
}

.projectBlock h2 {
  font-size: 2vw;
}

.projectBlock p {
  margin-top: 1vw;
  font-size: 1vw;
}

.seeMoreBtn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #F4EDEA;
  width: 40%;
  height: 3vw;
  border-radius: 18px;
  background-color: #41393E;
  margin-bottom: 66px;
  box-shadow: 0.2vw 0.2vw 0.1vw rgba(3, 3, 3, 0.356);
  padding: 1.8vw;
}

.seeMoreBtn span {
  font-size: 1vw;
  margin-right: 0.6vw;
}