* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a:visited {
  color: inherit;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #41393E;
}

html {
  display: flex;
  justify-content: center;
}
